<section>
  <div class="container cards">
    <div class="row">
      <div class="col s12 m7 l7">
        <div class="card">
          <div class="card-image">
            <img src="img/home/modules.jpg"><a class="tint disabled"></a>
            <span class="card-title">Modules</span>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div ng-repeat="card in modulescards" class="card hoverable">
          <div class="card-image waves-effect waves-light">
            <img ng-src="{{card.img}}">
            <a ng-click="modulesnav($index)" ng-href="{{card.link}}" class="tint selectable"></a>
            <span class="card-title">{{card.cardtitle}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <div class="fixed-action-btn" style="top: 10vh; left: 24px; z-index:0;">
      <a ng-click="backbtn()" ng-href="#/" class="btn-floating btn-large">
          <i class="large material-icons">chevron_left</i>
      </a>
    </div>
</div>